.accueil {
  margin: 0;
  padding: 0;
  background-image: url('images/montagne.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.destination {
  margin: 0;
  padding: 0;
  background-image: url('images/aleksejs.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.organisation {
  margin: 0;
  padding: 0;
  background-image: url('images/johannes.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.decouvrir {
  margin: 0;
  padding: 0;
  background-image: url('images/aleksandar.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.navbar {
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 15px;
  margin: 20px;
}

.navbar .nav-item {
  margin-right: 30px;
  /* Espacement entre les divs */
  margin-left: 30px;
  text-align: center; /* Centrer les éléments enfants */
}

.navbar .nav-content {
  height: 90px;
  display: flex;
  background-color: #FEEAEA;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-content {
  border: 1px solid black;
}

.navbar .nav-link {
  
  color: #9B055F;
  font-size: 24px;
}

.navbar .nav-subtext {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .img1 {
    display: none;
  }
}
.img1 {
  top: 150px;
  left: 20px;
}
@media screen and (max-width: 767px) {
  .img2 {
    display: none;
  }
}
.img2 {
  top: 150px;
  right: 20px;
}
@media screen and (max-width: 767px) {
  .img3 {
    display: none;
  }
}
.img3 {
  bottom: 150px;
  left: 20px;
}
@media screen and (max-width: 767px) {
  .img4 {
    display: none;
  }
}
.img4 {
  bottom: 150px;
  right: 20px;
}

.footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border-radius: 15px;
  background-color: rgba(217, 217, 217, 0.5);
  height: 100px;
  padding: 0 5%;
}
.btn-footer {
  background-color: #FEEAEA;
  border-radius: 20px;
  height: 80px;
}
 @media (max-width: 767px) {
  .footer {
    padding: 0;
  }
  #footer-container .btn-footer {
    width: calc(33.33% - 6px);
    max-width: none;
  margin: 0; 
  }
}
.custom-margin {
  margin: 150px 30px;
}

.depart, .arrivee {
  border-radius: 15px;
  border: 1px solid black;
  padding: 40px; /* Ajout de padding à l'intérieur des divs */
}
.carte {
  height: 50vh;
  border-radius: 15px;
  border: 1px solid black;
}
.trajet {
  height: 14vh;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px solid black;
}
@media (max-width: 991px) {
  .custom-margin {
    margin-top: 6rem;
    height: 100rem;
  }
  .depart {
    height: 27rem;
  }
  .carte {
    height: 25rem;
    margin-top: 1rem;
  }
  .trajet {
    margin-bottom: 1rem;
  }
  .arrivee {
    height: 30rem;
    margin-bottom: 5rem;
  }
}
.custom-color {
  color: #9B055F;
}
