.accueil {
  margin: 0;
  padding: 0;
  background-image: url('images/montagne.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.destination {
  margin: 0;
  padding: 0;
  background-image: url('images/aleksejs.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.organisation {
  margin: 0;
  padding: 0;
  background-image: url('images/johannes.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.decouvrir {
  margin: 0;
  padding: 0;
  background-image: url('images/aleksandar.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.navbar {
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 15px;
  margin: 20px;
}

.navbar .nav-item {
  margin-right: 30px;
  /* Espacement entre les divs */
  margin-left: 30px;
  text-align: center; /* Centrer les éléments enfants */
}

.navbar .nav-content {
  height: 90px;
  display: flex;
  background-color: #FEEAEA;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar .nav-link {
  
  color: #9B055F;
  font-size: 24px;
}

.navbar .nav-subtext {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .img1 {
    display: none;
  }
}
.img1 {
  top: 150px;
  left: 20px;
}
@media screen and (max-width: 767px) {
  .img2 {
    display: none;
  }
}
.img2 {
  top: 150px;
  right: 20px;
}
@media screen and (max-width: 767px) {
  .img3 {
    display: none;
  }
}
.img3 {
  bottom: 150px;
  left: 20px;
}
@media screen and (max-width: 767px) {
  .img4 {
    display: none;
  }
}
.img4 {
  bottom: 150px;
  right: 20px;
}
.footer {
  margin-left: 20px;
  margin-right: 20px;
}

.custom-btn {
  background-color: #FEEAEA;
  border-radius: 25px;
  color: #9B055F;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
}

.custom-btn:hover {
  background-color: #9B055F;
  color: #FEEAEA;
}